/***********ELEMENTS*************/
body {
    text-align: center;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
}

h1 {
    font-family: 'Odibee Sans', cursive;
    font-size: 5rem;
    color: white;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;

}

h3 {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #8B39F7;
}

a:hover {
    text-decoration: none;
    color: white;
}

/**********CLASSES**************/
.dio-span {
    text-decoration: none;
}

.categories-container {
    background-color: #34155C;
}

.h2-career {
    margin: 0 auto auto auto;
}

.middle-container {
    background-color: #431B76;
}

.top-container {
    background-color: #1E0C36;
    padding-bottom: 100px;
}

.top-dio-img {
    height: 300px;
    width: 450px;
    border-radius: 25px;
    border: solid 5px #34155C;
    margin-top: 70px;
}

.top-dio-img:hover {
    border: solid 5px white;

}

.top-10{
    display: inline-block;
    margin-left: 30px;
}

.who-was-dio {
    display: inline-block;
    margin-right: 30px;
}

/******IDs*******/
#rainbow-top {
    color: white;
    width: fit-content;
    margin: auto;
}

#rainbow-top:hover {
    font-size: 2.5rem;
}