/******************** TAG *************/
body {
    background-color: #E9D5DA;
}

hr {
    width: 20%;
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 7px;           
}

/******************** CLASS *************/

.image1:hover {
    border-radius: 25%;
}